<h1>My Registered Apps</h1>
<div class="row">
  <div class="col-md-8">
    <% if @user_apps.any? %>
      <% @registered_apps.each do |app| %>
        <%= link_to app.name, app %>
      <% end %>
    <% else %>
      <p>You don't have any registered apps.</p>
    <% end %>
  </div>
  <%= link_to "Register a new app", new_registered_app_path, class: 'btn btn-success' %>
</div>
