@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: White;
  font-family: "Helvetica", Georgia, sans-serif;
  color: DarkGrey;
  font-weight: bolder;
}

/* nav style */
.nav-tabs {
  text-align: right;
  font-family: "Helvetica", Georgia;
  font-weight: lighter;
}
.nav-tabs a:hover {
  color: Blue;
}

/* footer style */
footer {
  font-weight: lighter;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 25px;
}
